<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="192.168.0.104" />
		<add key="Database" value="BJKY_IntegratedManage" />
		<add key="OutputDir" value=".\GENERATED\" />
		<add key="Namespace" value="IntegratedManage" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
</configuration>
