<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BPMEntities" connectionString="metadata=res://*/BPM.csdl|res://*/BPM.ssdl|res://*/BPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;uid=sa;pwd=sasa;DataBase=BJKY_Portal;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="WebServerAddress" value="localhost:4358"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
